<div class="jumbotron">
  <h1>Physics happens here!</h1>
  <p>
  This is where you'll find homework problems and
  video lessons.
  </p>
  <p>
  <%= link_to "Sign Up", signup_path %> now if you haven't already
  </p>
</div>

<div class="subject-panes">
  <h2>Classes and Clubs</h2>
  <p>
  Head on over to the class or club that you're
  looking for.
  </p>
  <div class="row">
    <div class="col-md-4">
      <div class="thumbnail">
        <%= link_to(image_tag("plasma_lamp.jpg"), ap1_path) %>
      </div>
    </div>
    <div class="col-md-4">
      <div class="thumbnail">
        <%= link_to(image_tag("ferro_fluid.jpg"), emag_path ) %>
      </div>
    </div>
    <div class="col-md-4">
      <div class="thumbnail">
        <%= link_to(image_tag("Trebuchet.jpg"),mechanics_path) %>
      </div>
    </div>
  </div>
  <div class="row">

    <div class="col-md-4 col-md-offset-2">
      <div class="thumbnail">
        <%= link_to(image_tag("table_tennis.jpg"), ping_pong_path) %>
      </div>
    </div>
    <div class="col-md-4">
      <div class="thumbnail">
        <%= link_to(image_tag("tesla.jpg"), sci_oly_path) %>
      </div>
    </div>

  </div>

</div>
