<h1>Create Assignment</h1>

<%= form_for @assignment do |f| %>
  <%= f.label :hw_id %>
  <%= f.text_field :hw_id, class: 'form-control' %>


  <%= f.label :hw_id %>
  <%= f.text_field :hw_id, class: 'form-control' %>

  <%= f.label :hw_id %>
  <%= f.text_field :hw_id, class: 'form-control' %>

  <%= f.label :hw_id %>
  <%= f.text_field :hw_id, class: 'form-control' %>

  <%= f.label :hw_id %>
  <%= f.text_field :hw_id, class: 'form-control' %>

  <%= f.label :hw_id %>
  <%= f.text_field :hw_id, class: 'form-control' %>
