<h1>Problems</h1>

<table>
  <tr>
    <th>ID</th>
    <th>Problem Text</th>
    <th>Topic</th>
  </tr>
  <% @problems.each do |problem| %>
    <tr>
      <td><%= link_to problem.id, problem %></td>
      <td><%= problem.problem_text %></td>
      <td><%= problem.topic %></td>
      <td><%= link_to 'edit', edit_problem_path(problem) %>
    </tr>
  <% end %>
</table>
<%= link_to "Create new Problem", new_problem_path, class: "btn btn-primary" %>
