<h1>Problems#new</h1>
<p>Find me in app/views/problems/new.html.erb</p>
<%= form_for @problem do |f| %>
  <%= f.label :topic %>
  <%= f.text_field :topic %>

  <%= f.label :problem_text %>
  <%= f.text_area :problem_text %>

  <%= f.submit %>
<% end %>
