<h1><%= @problem.id %></h1>

<h2><%= @problem.topic %></h2>
<p><%= @problem.problem_text %><p>
<% @parts.each do |part| %>
  <p><%= part.statement %></p>
  <p><%= part.answer %></p>
<% end %>

<%= link_to "Back", problems_path %>
<%= link_to "edit", edit_problem_path(@problem) %>
