<header class="navbar navbar-default navbar-static-top">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <div id="logo"><%= link_to 'MCDUFF PHYSICS', root_path, class: "navbar-brand" %></div>
      </div>
      <div class="navbar-collapse collapse">
        <ul class="nav navbar-nav">
          <li>
          <%= link_to 'PHYSICS 1', ap1_path %>
          </li>
          <li>
          <%= link_to 'MECHANICS', mechanics_path%>
          </li>
          <li>
          <%= link_to 'E&M', emag_path%>
          </li>
          <li>
          <%= link_to 'PING PONG', ping_pong_path%>
          </li>
          <li>
          <%= link_to 'SCI OLY', sci_oly_path%>
          </li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
          <li>
          <%= link_to 'RIVER RIDGE',"http://www.cherokee.k12.ga.us/Schools/riverridge-hs/default.aspx" %>
          </li>
          <li>
          <%= link_to 'CONTACT', contact_path %>
          </li>
        </ul>
      </div><!--/.nav-collapse -->
    </div>
</header>
